@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    padding: 20px 290px;
    display: flex;
    flex-direction: column;
}

/* header start */


.header-top-line {
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F8FAFD;
    border-radius: 16px;
}

.header-top-line-left {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header-top-line-left div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-top-line span , .header-top-line a {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.6px;
    text-align: left;
    color: #5C646E;
}

.header-top-line-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-top-line-right button {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 500;
    padding: 9px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #E5E8EC;
    border-radius: 6px;
    background-color: transparent;    
}

.header-middle-line {
    padding: 40px 0px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}

.for-search {
    width: 100%;
    position: relative;

}

.for-search form {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.for-search input {
    width: 100%;
    padding: 16px 24px;
    border: 1px solid #E5E8EC;
    border-radius: 8px;
    outline: none;
}

.for-search input::placeholder {
    color: #B3BCC9;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
}

.for-search > form > button {
    padding: unset;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-top-line-left .contact-socset {
    display: none;
}

.contact-socset {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-middle-line button , .contact-socset button  {
    padding: 18px;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #E5E8EC;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-middle-line > button {
    padding: 9px 20px;
}

.header-middle-line button p {
    /* width: 164px; */
    min-width: 164px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.3px;
    color: #1D2229;
}

.mobButtonsForHoverCall {
    min-height: 63px;
}

.header-middle-line button p span {
    font-family: Inter;
    font-size: 11px;
    font-weight: 500;
    line-height: 14.3px;
    text-align: left;
    color: #136AEC;   
}

.homeCont header {
    position: relative;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E5E8EC;
    border-radius: 16px;
}

.homeCont header nav {
    width: 100%;
    /* padding-right: 50px; */
}

.homeCont header nav > ul {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    list-style: none;
    grid-template-columns: repeat(8,1fr);

}

.homeCont header ul li.liActive {
    background: #136AEC;
    border-radius: 8px;
    padding: 14px 30px 14px 24px;   
}

.homeCont header ul li.liActive a {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.homeCont header nav > ul > li {
    text-align: center;
}

.homeCont header ul li a {
    text-decoration: none;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 21.75px;
    text-align: left;
    color: #1D2229;    
}

/* header end */


/* appointment start */


.appointment {
    padding-top: 60px;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.swiper-container {
    overflow: hidden;
}

.swiper-container-appointment {
    width: 994px;
    max-width: 994px;
    min-height: 460px;
    max-height: 460px;
    position: relative;
}

.appointmentItem {
    background: url('./img/banner.svg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 60px;
    padding-bottom: 100px;
    gap: 40px;
    border-radius: 24px;
}

.appointment h1 {
    width: fit-content;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    color: #1D2229;    
}

.free {
    text-transform: uppercase;
    width: fit-content;
    background: #E39F79;
    padding: 6px 10px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.6px;
    text-align: left;
    color: #fff;
    border-radius: 6px;
    border: none;
}

.appointmentItem-top {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.appointmentItem-bottom {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;    
}

.appointmentItem-bottom > div {
    padding: 14px;
    display: flex;
    align-items: center;
    gap: 15px;
    background: #fff;
    border-radius: 12px;
}

.appointmentItem-bottom p {
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: #5C646E;    
}

.swiper-pagination-appointment {
    width: fit-content !important;
    bottom: 60px !important;
    left: 60px !important;
}

.swiper-container-appointment .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background: #E5E8EC !important;
    border-radius: 2px !important;
    opacity: 1 !important;
}

.swiper-container-appointment .swiper-pagination-bullet-active {
    width: 40px !important;
    background: #136AEC !important;
}

.appointment-block {
    max-width: 345px;
    max-height: calc(460px - 27px);
    height: calc(460px - 27px);
    position: relative;
    border-radius: 24px;
    padding: 40px;
    max-height: 460px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background: #F8FAFD;
}

.appointment-block h2 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 31.2px;
    text-align: center;
    color: #1D2229;    
}

.appointment-block > input {
    width: 100%;
    padding: 20px 24px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    border: 1px solid #E5E8EC;
    border-radius: 8px;
    outline: none;
}

.appointment-block input::placeholder {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    color: #B3BCC9;    
}

.appointment-block .free {
    position: absolute;
    left: 40px;
    top: 0;
    transform: translateY(-50%);
}

.appointment-block > div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.appointment-block div label {
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    color: #5C646E;
}

.appointment-block div input {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #E5E8EC;
}


.appointment-block div a {
    color: #136AEC;
}

.appointment .signup {
    width: 100%;
}
button.signup {
    width: fit-content;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 21.75px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;
    background: #136AEC;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 22px 50px;    
}

/* appointment end */


/* stock start */


.stock {
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.homeCont h2 {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    color: #1D2229;
}

.more {
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 18.2px;
    letter-spacing: 0.02em;
    padding: 16px 24px;
    display: flex;
    align-items: center;    
    gap: 6px;
    color: #1D2229;
    border: 1px solid #E5E8EC;
    background: #fff;
    border-radius: 8px;
}

.stock-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.stock-top > div {
    display: flex;
    align-items: center;
    gap: 40px;
}

.stockK .stock-top > div > div  {
    display: none;
}

.stock-top > div > div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.stock-top > div > div button {
    padding: 13px;
    border: 1px solid #E5E8EC;
    border-radius: 8px;
    background: transparent;
}

.stock-item {
    padding: 40px;
    position: relative;
    background: #F8FAFD;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.stock-item h2 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #1D2229;    
}

.moreDetails {
    width: fit-content;
    border: 1px solid #5C646E;
    background: #fff;
    border-radius: 8px;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 18.2px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #1D2229;
    padding: 16px 24px;    
}

.stock-item div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.stock-item-pic {
    position: absolute;
    right: 0;
    top: 0;
}

/* stock end */



/* service start */


.services {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.sercices-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.services-item {
    width: 100%;
    padding: 40px;
    padding-right: 0px;
    border-radius: 24px;
    border: 1px solid #E5E8EC;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    position: relative;
}

.services-item-left {
    display: flex;
    flex-direction: column;
    width: 62%;
    gap: 30px;
}

.services-item-top {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.services-item-top h2 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #1D2229;    
}

.services-item-top span {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #5C646E;    
}

.services-item-bottom {
    display: flex;
    align-items: center;
    gap: 30px;
}

.services-item-bottom p {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #1D2229;        
}

.services-item .free {
    position: absolute;
    top: 40px;
    left: 40px;
}

/* service end */

/* smile start */

.smile {
    position: relative;
    margin-top: 120px;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    background: url('img/banner2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 24px;
    min-height: 415px;
}

.smile-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.smile-left h3 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 50.4px;
    text-align: left;
    color: #1D2229;    
}

.smile-middle {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.smile-item {
    padding: 20px;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 12px;
}

.smile-item span {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: #5C646E;   
}

.smile-bottom {
    display: flex;
    align-items: center;
    gap: 60px;
}

.smile-bottom span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #5C646E;
}

.smile-bottom p {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: #E39F79;    
}

.smile-bottom-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.smile-bottom-left div {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #E5E8EC;
}

.smile-bottom button {
    padding: 18px 30px;
}

.smile-bottom-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* mission start */

.mission {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
}


.mission-left {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.mission-left > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mission h3 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 44.8px;
    color: #1D2229;    
}

.mission span {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 30.6px;
    color: #5C646E;
}

.mission-right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url('./img/3Dпрогулка.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px;
    padding-bottom: 40px;
}

/* mission end */


/* whywe start */

.whywe {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.whywe-top {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
}

.whywe-top > div {
    padding: 40px;
    border: 1px solid #E5E8EC;
    border-radius: 24px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.whywe-top > div > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.whywe-top h3 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #1D2229;
}

.whywe-top p {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #5C646E;    
}




/*  */

.whywe-bottom-forVideo {
    width: 100%;
    height: 100%;
    background: url('img/vd.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
    position: relative;
}

.whywe-bottom iframe {
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.whywe-bottom-video-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 28px;
    border: none;
    background: #FFFFFF;
    border-radius: 500px;
    transition: .2s;
}

.ytp-large-play-button {
    display: none !important;
}


/*  */

/*  */

.whywe-reviews {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding-top: 100px;
}

.whywe-reviews div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.whywe-reviews p {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #E39F79;    
}

.whywe-reviews span {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 27.2px;
    color: #5C646E;    
}

/*  */

/* whywe end */

/* specialists start */

.specialists {
    position: relative;
    padding-top: 220px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}   

.swiper-container-specialists , .swiper-container-patient {
    margin-right: -290px;
    width: calc(100% + 290px);
}

.specialistsItem {
    padding: 40px;
    background: #F8FAFD;
    border-radius: 24px;
    display: flex;
    gap: 40px;
}

.specialistsItem > div {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.specialistsItem > div > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.specialistsItem h3 {
    font-family: Inter;
    font-size: 17px;
    font-weight: 600;
    line-height: 23.8px;
    text-align: left;
    color: #000;    
}

.specialistsItem span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: #3E8BFF;    
}

.specialistsItem h5 {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #5C646E;
}

.specialistsItem h4 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: #E39F79;    
}

.specialistsItem > div > div > div {
    margin-top: 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #E5E8EC;
}

.specialistsItem > img {
    max-width: 180px;
    max-height: 260px;
    border-radius: 24px;
}


.specialists button.signup {
    padding: 16px 24px;
}

/* specialists end */


/* license start */

.license-filter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.license-filter-item {
    display: flex;
    align-items: center;
    padding: 14px 22px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #E5E8EC;
}

.license-filter p {
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 18.2px;
    color: #1D2229;    
}

.patient {
    padding-bottom: 120px;
}

.license-item {
    height: 340px;
    padding: 20px;
    border-radius: 24px;
    border: 1px solid #5C646E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.license-item img {
    max-width: 212px;
    width: 100%;
    height: 100%;
}

/* license end */

/* patient start */

.comment {
    padding: 40px;
    border: 1px solid #EDEFF3;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment > p {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #5C646E;    
    margin-top: 10px;
}

.comment-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-top > div {
    display: flex;
    gap: 15px;
}

.comment-top > div > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-top img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

.comment-top h3 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    color: #1D2229;
}

.comment-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-bottom p {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #1D2229;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20.3px;
}

.comment-bottom span {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.2px;
    color: #B3BCC9;    
}

/* patient end */

/* footer start */

.home-footer {
    display: flex;
    justify-content: space-between;
    background: #242B34;
}

.footer-left {
    max-width: 710px;
    padding: 80px 290px;
    padding-right: 60px;
    background: #1F252D;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-left > img {
    max-width: 292px;
    object-fit: cover;
}

.footer-left span {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #B3BCC9;    
}

.footer-left p {
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 18.2px;
    color: #fff;    
}

.footer-left div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-right {
    padding: 80px 290px;
    padding-left: 100px;
    display: flex;
    gap: 122px;
}

.home-footer ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

.home-footer ul li a {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 21.75px;
    color: #fff;
}

.navigation {
    transition: .2s;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15.5px 24px;
    background: transparent;
    border: 1px solid #2F3741;
    border-radius: 8px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #fff;
}


.footer-info {
    display: flex;
    flex-direction: column;
    gap: 32px;   
}

.footer-info-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-info-item {
    display: flex;
    align-items: center;
    gap: 11.5px;
}

.footer-info-item > div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer-info p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #fff;    
}

.footer-info span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #B3BCC9;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-contact-top {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-contact h4 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #fff;    
}

.footer-contact-top button {
    margin-top: 25px;
    padding: 18px 30px;
}

.footer-contact span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #B3BCC9;    
}

.footer-contact-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 23px;
}

.footer-contact-socset {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-contact-socset button {
    padding: 16px;
    background: transparent;
    border: 1px solid #2F3741;
    border-radius: 8px;
}

/* .home-footerend */
.forServicesMb , .burgerMenu {
    display: none;
}
.swiper-container-appointment .swiper-pagination-bullet {
    position: relative;
    width: 10px;
    height: 10px; 
    transition: transform 0.2s, border 0.2s; 
}

/* Apply hover effects only to inactive bullets */
.swiper-container-appointment .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
    border: 1px solid #92BDFF;
    border-radius: 4px;
    transform: scale(2.2);
}

.swiper-container-appointment .swiper-pagination-bullet::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: #136AEC;
    opacity: 0;
    transition: opacity 0.2s;
}

.swiper-container-appointment .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover::after {
    opacity: 1;
}




.forMob {
    display: none;
}

.footer-info-item-call {
    display: none;
}
.navigationDesktop {
    display: none;
} 

.stock-container-mobile {
    display: none;
}

.spcMoreMobile {
    display: none;
}

/* .mobile-navigate */


.mobile-navigate {
    width: calc(100% - 60px);
    box-shadow: 0px 0px 30px 10px #829ABC40;
    display: none;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    padding: 15px;
    border-radius: 16px;
    position: fixed;
    margin: unset;
    left: 10px;
    background: #fff;
    bottom: 20px;
    z-index: 111;
    left: 50%;
    transform: translateX(-50%);
}
.mobile-navigate button {
    padding: 18px;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #E5E8EC;
}
.mobile-navigate-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-mobile-search {
    padding-top: 15px;
    width: 100%;
    display: none;
    background: #fff;
    align-items: center;
    gap: 10px;
}

.mobile-search {
    width: calc(100% - 60px);
    border-radius: 16px;
    position: fixed;
    bottom: 20px;
    display: none;
    background: #fff;
    padding: 0px 40px;
    align-items: center;
    gap: 10px;
    z-index: 1111;
}

.close-mobile-search {
    padding: 16px;
    background: #fff;
    border: 1px solid #E5E8EC;
    border-radius: 8px;
}

.mobile-search-input {
    width: 100%;
    border: 1px solid #E5E8EC;
    border-radius: 8px;
    position: relative;
}

.mobile-search-input input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    padding: 18px 24px 18px 24px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    border-radius: 8px;
    color: #B3BCC9;
}

.mobile-search-input input::placeholder {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #B3BCC9;
}


.mobile-search-input > form > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .mobile-navigate */

.homeCont header ul li {
    cursor: pointer;
}

/* hover start */


.whywe-bottom-video-play:hover {
    background: #3E8BFF;
}

.whywe-bottom-video-play:hover svg path {
    fill: white;
}

.whatsapp , .telegram {
    transition: .2s;
}

.whatsapp:hover {
    background: #25D366;
}

.whatsapp:hover svg path {
    stroke: white;
}

.telegram:hover {
    background: #27A7E7;
}

.telegram:hover svg path {
    stroke: white;
}

.wk:hover {
    background: #0077FF;
}

.wk:hover svg path {
    stroke: white;
}


.navigation:hover {
    border: 1px solid #3E8BFF;
    color: #3E8BFF;
}

.mobButtonsForHover {
    transition: .2s;
    cursor: pointer;
}



.moreDetails:hover {
    background: #0077FF;
    color: #fff;
    border: 1px solid transparent;
}
.mobButtonsForHover:hover , .more:hover {
    background: #0077FF;
    color: #fff;
}

.mobButtonsForHover:hover svg path , .more:hover svg path {
    stroke: white;
}

.homeCont header ul li.liActive:hover {
    background: #3E8BFF;
}

.mobButtonsForHoverCall h4 , .mobButtonsForHoverCall:hover p {
    display: none;
}
@media screen and (min-width:840px) {
    .mobButtonsForHoverCall:hover h4 {
        display: block;
        width: 164px;
        color: #fff;
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 20.3px;
        text-transform: uppercase;
    }
    
    .mobButtonsForHoverCall:hover {
        justify-content: center;
        gap: 10px;
        background: #3E8BFF;
        height: 62.6px;
    }
    
    
    .mobButtonsForHoverCall:hover svg path {
        stroke: white;
    }
}

@media screen and (max-width:840px) {
    .for-search,.mobButtonsForHoverCall {
        transition: .2s;
        cursor: pointer;
    }
    
    .for-search:hover , .mobButtonsForHoverCall:hover {
        background: #0077FF;
    }
    
    .for-search:hover svg path , .mobButtonsForHoverCall:hover svg path{
        stroke: white;
    }
}

button.signup:hover {
    color: #0077FF;
    background: transparent;
    border: 1px solid #0077FF;
}


/* hover end */

/* burger menu start*/

.burger-menu-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 30px 40px;
    background: #fff;
    z-index: 111;
    display: none;
    flex-direction: column;
    gap: 30px;
    overflow: auto;
}

.burger-menu-block-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger-menu-close {
    padding: 13px;
    border: 1px solid #E5E8EC;
    border-radius: 8px;
}

.burger-menu-block nav {
    padding: 45px 50px;
    border: 1px solid #E5E8EC;
    border-radius: 16px;
}

.burger-menu-block nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
}

.burger-menu-block nav ul li a {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    color: #1D2229;    
}

.burger-menu-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.burger-menu-bottom-item {
    padding: 23px 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid #E5E8EC;
    border-radius: 8px;
}

.burger-menu-bottom-item > div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.burger-menu-bottom span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #B3BCC9;    
}

.burger-menu-bottom p {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: #5C646E;        
}

.burger-menu-block .header-top-line-right .mobButtonsForHover {
    width: 181px;
}
.burger-menu-block > .header-top-line-right {
    display: none;
}

@media screen and (max-width:500px) {
    .burger-menu-block-top .header-top-line-right {
        display: none;
    }
    .burger-menu-block > .header-top-line-right {
        display: flex;
        flex-direction: column;
    }
    .burger-menu-block .header-top-line-right .mobButtonsForHover {
        width: 100%;
    }
    .burger-menu-bottom {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}


/* burger menu end*/

/* services popup start */

.services-menu {
    width: 100%;
    height: calc(100% + 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-menu:hover > li > ul ,.home-popup-services > li:hover > ul  , .home-popup-services-child > li:hover > ul {
    display: flex;
}

.home-popup-services , .home-popup-services-child , .home-popup-services-child-child {
    width: 298px;
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid #E5E8EC;
    padding: 22px 0px;
    /* gap: 12px; */
    border-radius: 16px;
    z-index: 111;
    display: none;
}

.home-popup-services-open {
    display: flex;
}

.home-popup-services li {
    padding: 6px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 21.75px;
    color: #1D2229;   
}

.home-popup-services > li:hover , .home-popup-services-child > li:hover , .home-popup-services-child-child > li:hover {
    color: #3E8BFF;
}

.home-popup-services > li:hover > svg > path , .home-popup-services-child > li:hover svg path , .home-popup-services-child-child > li:hover > svg > path {
    stroke: #3E8BFF;
}

.home-popup-services-child , .home-popup-services-child-child {
    top: 0;
    left: 100%;
    border-radius: 0px 0px 16px 16px;
}

.home-popup-services-child-child {
    top: -1px;
}

/* mobile */

.mobile-services-popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    display: none;
    flex-direction: column;
    gap: 30px;
    padding: 30px 40px;
    z-index: 1111;
}

.mobile-services-popup > div {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
}

.mobile-services-popup-prev {
    border-radius: 8px;
    border: 1px solid #E5E8EC;
    background: transparent;
    padding: 14px 22px;
    display: none;
    align-items: center;
    gap: 10px;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 18.2px;
    text-align: left;
    color: #1D2229;
}

.close-services-popup {
    width: fit-content;
    padding: 13px;    
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #E5E8EC;
    background: transparent;
}

.mobile-services-popup > ul {
    border-radius: 16px;
    border: 1px solid #E5E8EC;
    width: 100%;
    padding: 45px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
}

.mobile-services-popup li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
    color: #1D2229;    
    cursor: pointer;
}

.mobile-services-popup li:hover {
    color: #3E8BFF;
}

.mobile-services-popup li:hover > svg > path {
    stroke: #3E8BFF;
}

.mobile-services-popup li ul {
    display: none;
}


/* services popup end */



/* responsive start */

@media screen and (max-width:1800px) {
    .container {
        padding: 20px 120px;
    }
    .footer-left {
        padding: 80px 120px;
        padding-right: 60px;
    }
    .footer-right {
        padding: 80px 120px;
        padding-left: 100px;
        gap: 30px;
    }
    .footer-contact-top button {
        width: 100%;    
    }
    .footer-left {
        max-width: 550px;
    }

    .swiper-container-specialists, .swiper-container-patient {
        margin-right: -120px;
        width: calc(100% + 120px);
    }
    .services-item-bottom p {
        font-size: 22px;
    }
    .services-item-bottom {
        gap: 20px;
    }

}

@media screen and (max-width:1500px) {
    .container {
        padding: 20px 30px;
    }

    .header-middle-line .contact-socset {
        display: none;
    }

    .header-top-line .contact-socset {
        display: flex;
    }

    .header-top-line-left div {
        display: none;
    }

    .header-top-line-left div:first-of-type , .header-top-line-left div:last-of-type {
        display: flex;
    }

    .header-middle-line {
        gap: 30px;
    }
    .header-top-line-left {
        gap: 25px;
    }

    .contact-socset button {
        padding: 9px;
    }

    .appointment h1 {
        font-size: 36px;
    }

    .swiper-container-appointment , .appointment-block {
        width: 100%;
        max-width: 100%;
    }

    .appointment {
        flex-direction: column;
        gap: 60px;
    }
    
    .appointment-block {
        max-height: 225px;
        background: url('img/appointmentBg992.svg');
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .appointment-block .free {
        position: unset;
        transform: unset;
        margin-top: 10px;
    }
    .appointment-block h2 {
        max-width: 215px;
        text-align: left;
        grid-row: 2/3;
        grid-column: 1/2;
        height: fit-content;
        margin-top: -30px;
    }

    .appointment-block > input , .appointment .signup , .appointment-block > div , .appointment-block .free{
        height: fit-content;
    }

    .stock-item-pic {
        min-width: 210px;
    }

    .stock-item {
        padding: 30px;
    }

    .services-item {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .services-item-left {
        width: 100%;
    }

    .services-item .free {
        right: 30px;
        top: 30px;
        left: unset;
    }
    .services-item {
        padding: 30px;
    }
    .services-item > img {
        max-width: 140px;
        max-height: 140px;
    }

    .whywe-top {
        grid-template-columns: 1fr;
    }
    .whywe-top > div {
        flex-direction: row;
        gap: 25px;
    }
    .whywe-top > div svg {
        min-width: 64px;
    }
    .whywe-reviews {
        gap: unset;
    }
    .whywe-reviews span {
        text-align: center;
    }

    .footer-left {
        max-width: 100%;
        width: 100%;
        padding: 40px 30px;
    }
    .footer-right {
        padding: 40px 30px;
        justify-content: space-between;
    }
    .home-footer{
        flex-direction: column-reverse;
    }
    .swiper-container-specialists, .swiper-container-patient {
        margin-right: -30px;
        width: calc(100% + 30px);
    }

    .footer-left {
        flex-direction: row;
        position: relative;
        justify-content: space-between;
    }
    .footer-left span {
        position: absolute;
        left: 30px;
        bottom: 40px;
        max-width: 610px;
    }
    .footer-left div {
        max-width: 290px;
        text-align: right;
        gap: 22px;
    }

    .footer-left > img {
        max-height: 51px;
    }

    .mission {
        padding-top: 240px;
    }

    .smile-left {
        width:100%;
        gap: 30px;
        padding: 40px;
    }
    .smile-left h3 {
        font-size: 32px;
    }
    .smile-middle {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: absolute;
        bottom: -170px;
        left: 0;
        width: 100%;
    }
    .smile {
        min-height: unset;
        padding: 0px;
        border-radius: 24px;
    }
    
    .smile-item {
        height: 100%;
        border: 1px solid #E5E8EC;
        border-radius: 24px;
    }
    .smile-bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
    .header-top-line {
        gap: 20px;
    }
    .stockK .stock-top > div > div {
        display: flex;
    }
    .mission {
        gap: 30px;
    }
    .whywe-reviews p {
        font-size: 30px;
    }
    .patient .more {
        width: 165px;
    }
    .appointmentItem {
        background-position: unset;
    }
}

@media screen and (max-width:980px) {
    .homeCont header ul li a {
        font-size: 13px;
    }
    button.signup {
        font-size: 14px;
        padding: 22px 35px;
        text-align: center;
    }
}

@media screen and (max-width:940px) {
    .header-top-line-right button {
        font-size: 12px;
    }
    .header-top-line span, .header-top-line a {
        font-size: 12px;
    }
    .header-top-line-left .contact-socset {
        gap: 5px;
    }
}

@media screen and (max-width:900px) {
    .appointment .signup {
        padding: 23px;
    }
    .stock-item div {
        z-index: 1;
    }
    .stock-item-pic {
        max-width: 160px;
        top: 50%;
        transform: translateY(-50%);
    }
    button.signup {
        padding: 22px;
    }
    .footer-left span {
        max-width: 520px;
        bottom: 25px;
    }
   
}

@media screen and (max-width:840px) {
    .appointmentItem {
        background-position: right;
    }
    .header-top-line-left div {
        display: none !important;
    }
    .header-top-line-left .contact-socset {
        display: flex !important;
    }
    .header-middle-line > button {
        padding: 16px;
    }
    .header-top-line {
        padding: 10px;
    }

    .for-search {
        grid-column: 2/3;
        width: 60px;
        height: 60px;
        border: 1px solid #E5E8EC;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .for-search form button {
        position: unset;
        transform: unset;
    }
    .for-search input {
        display: none;
    }
    .header-middle-line > button p {
        display: none;
    }
    .header-middle-line > button {
        width: 60px;
        height: 60px;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .header-middle-line > img {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .header-middle-line {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 2fr 0.5fr 0.5fr;
    }
    .forServicesMb , .burgerMenu {
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border: 1px solid #E5E8EC;
        border-radius: 8px;
    }
    .forServicesMb {
        grid-column: 4/5;
    }
    .burgerMenu {
        grid-column: 5/6;
    }
    .homeCont header {
        display: none;
    }
    .appointment {
        padding-top: 10px;
    }
    .appointment-block {
        max-height: 300px;
        grid-template-columns: 1fr 1fr;
    }
    .appointment-block h2 {
        margin: unset;
        text-align: center;
        width: 100%;
        max-width: 100%;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .appointment-block .free {
        position: absolute;
        top: 40px;
        right: 100px;
        left: unset;
        margin: unset;
    }
    .stock-item h2 {
        font-size: 18px;
    }
    .services-item-bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .smile-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .smile-middle {
        bottom: -190px;
    }
    .mission {
        display: flex;
        flex-direction: column-reverse;
    }
    .mission-right {
        min-height: 380px;
    }
    .whywe-reviews {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
    }
    
    .license-filter {
        padding-right: 20px;
        overflow-x: scroll;
        flex-wrap: nowrap;
        display: grid;
        grid-template-columns: repeat(5, 260px);
    }
    .license-filter::-webkit-scrollbar {
        opacity: 0;
    }
    .license-filter-item {
        width: 260px;
    }
    .stock-top > div > div {
        display: none;
    }
    .footer-left span {
        width: calc(100% - 60px);
        max-width: 100%;
        bottom: 50%;
        transform: translateY(50%);
    }
    .footer-left p:nth-of-type(1) {
        max-width: 340px;
        text-align: left;
        position: absolute;
        top: 47px;
        right: 39px;
    }
    .footer-left {
        flex-direction: column;
    }
    .footer-left > div {
        width: 100%;
        max-width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-top: 100px;
    }
    .appointmentItem-bottom > div {
        border-radius: 0px;
        background: transparent;
    }
    .appointmentItem-bottom  {
        background: #fff;
        border-radius: 12px;
        gap: 0px;
    }
    .appointmentItem {
        padding: 40px;
        padding-bottom: 100px;
    }
    
    .swiper-pagination-appointment {
        bottom: 80px !important;
    }
    .appointment-block h2 {
        font-size: 34px;
        margin-left: -70px;
    }
    .appointment-block .free {
        top: 55px;
        right: 110px;
    }
}

@media screen and (max-width:710px) {
    .appointment-block h2 {
        width: fit-content;
        margin: unset;
        font-size: 30px;
    }
    .appointment-block .free {
        right: 30px;
    }
    .header-middle-line {
        gap: 10px;
    }
    .container {
        padding: 20px;
    }
    .swiper-container-specialists, .swiper-container-patient {
        margin-right: -20px;
        width: calc(100% + 20px);
    }
    .smile-item span {
        font-size: 12px;
    }
    .footer-left p:nth-of-type(1) {
        width: fit-content;
        max-width: 267px;
        right: 10px;
    }
}

@media screen and (max-width:640px) {
    .mobile-search {
        padding: 15px;
        left: 30px;
        width: calc(100% - 60px);
    }
    .mobile-navigate {
        display: flex;
    }
    .header-top-line-left {
        display: none;
    }
    .header-top-line .header-top-line-right {
        width: 100%;
        padding: 10px;
        border-radius: 16px;
        box-shadow: 0px 0px 30px 0px #829ABC40;
    }
    .header-top-line-right button {
        width: 50%;
        justify-content: center;
    }
    .header-middle-line {
        display: none;
    }
    .appointmentItem-bottom {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -155px;
        border-radius: 0px 0px 24px 24px;
        background: #F0F4FA;
        padding: 20px;
    }
    .appointmentItem-bottom > div {
        flex-direction: column;
        text-align: center;
    }
    .swiper-pagination-appointment {
        bottom: 205px !important;
        left: 40px !important;
    }
    .appointment-block {
        background: #F8FAFD;
        max-height: unset;
        min-height: 550px;
        display: flex;
        flex-direction: column;
    }
    .appointment .signup {
        text-align: center;
    }
   
    .sercices-block {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .services-item {
        align-items: center;
        flex-direction: row;
    }
    .services-item > img {
        object-fit: cover;
        width: 140px;
        height: 140px;
    }
    .services-item-bottom {
        flex-direction: row;
        align-items: center;
    }
    .services-item-left {
        max-width: 300px;

    }
    .smile-left {
        padding-top: 60px;
    }
    .smile-middle {
        top: calc(100% + 50px);
        grid-template-columns: 1fr;
    }
    .smile-item {
        flex-direction: row;
    }
    .mission {
        padding-top: 500px;
    }
    .whywe-bottom {
        padding-top: 120px;
    }
    .homeCont h2 {
        font-size: 32px;
    }
    .license-filter {
        display: none;
    }
    .stock {
        gap: 50px;
    }
    .patient {
        padding-top: 60px;
        gap: 40px;
        padding-bottom: 70px;
    }
    .footer-right {
        flex-direction: column;
    }
    .footer-right nav {
        padding: 30px;
        border: 1px solid #2F3741;
        border-radius: 8px;
    }
    .footer-right nav ul li:nth-of-type(2) {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .footer-right nav ul li:nth-of-type(3) {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .footer-right nav ul li:nth-of-type(5) {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .footer-right nav ul li:nth-of-type(6) {
        grid-row: 3/4;
        grid-column: 2/3;
    }
    .home-footer ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer-right ul li.forMob {
        display: block;
    }
    .footer-left > img ,.footer-left span{
        display: none;
    }
    .footer-contact-top h4 {
        display: none;
    }

    .footer-info-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        
    }
    .footer-info-item {
        border-radius: 8px;
        border: 1px solid #2F3741;
        padding: 15px;
    }
    .footer-left p:nth-of-type(1) {
        display: none;
    }

    .footer-left {
        background: transparent;
        padding-top: 0px;
    }
    .footer-info-item-call {
        display: flex;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .navigationMobile {
        display: flex;
    }
    .footer-contact-top {
        flex-direction: row;
        gap: 30px;
    }
    .footer-contact span {
        display: none;
    }
    .footer-contact-socset {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    .home-footer {
        position: relative;
    }
    .footer-left > div {
        flex-direction: column;
        text-align: left;
        width: fit-content;
        padding-top: 0px;
    }
    .footer-contact {
        gap: 0px;
    }
    .homeCont h2 {
        font-size: 26px;
    }
    .mobile-navigate-left {
        gap: 30px;
    }
    .mobile-services-popup {
        padding: 30px;
    }
}

@media screen and (max-width:550px) {
    .burger-menu-block {
        padding: 30px 20px;
    }
}

@media screen and (max-width:500px) {
    .appointmentItem {
        padding: 30px;
        min-height: 502px;
        background: url('img/centerBgMobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
    }
    .appointmentItem-bottom {
        top: calc(100% + 82px);
        bottom: unset;
        flex-direction: column;
        background: unset;
        gap: 20px;
    }
    .appointmentItem-bottom > div {
        width: 100%;
        flex-direction: row;
        padding: 15px;
        gap: 20px;
        border-radius: 16px;
        border: 1px solid #E5E8EC;
    }
    .appointmentItem-bottom p {
        width: 100%;
        text-align: left;
    }
    .appointment h1 {
        text-align: center;
        font-size: 24px;
    }
    .appointmentItem-top {
        align-items: center;
    }
    .swiper-pagination-appointment {
        top: calc(50% + 50px) !important;
        bottom: unset !important;
        left: 50% !important;
        transform: translateX(-50%);
    }
    .swiper-container-appointment {
        min-height: 950px;
    }
    
    .appointment {
        gap: 0px;
    }
    .appointment-block {
        padding-top: 70px;
        gap: 15px;
        align-items: center;
    }
    .appointment-block .free {
        position: unset;
    }
    .appointment .signup {
        display: flex;
        justify-content: center;
    }
    .mobile-navigate button {
        padding: 12px;
    }
    .mobile-navigate-left {
        gap: 15px;
    }
    .stockK .stock-top > div > div {
        display: none;
    }
    .swiper-container-stock {
        display: none;
    }
    .stock-container-mobile {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .stock-item {
        width: 100%;
    }
    .stock-top .more {
        display: none;
    }
    .stock-container-mobile .more {
        width: 100%;
        justify-content: center;
    }
    .services-item {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .services-item-bottom p {
        font-size: 20px;
    }
    
    .homeCont h2 {
        font-size: 32px;
    }
    .services-item-top h2 {
        font-size: 20px;
    }
    .smile-left {
        min-height: 640px;
        background: url('img/smileBgMobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .smile-bottom button.moreDetails {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    .smile-bottom button.signup {
        width: 100%;
        text-align: center;
    }
    .smile-bottom-right {
        width: 100%;
    }
    .smile-bottom-left {
        width: 100%;
        justify-content: space-between;
    }
    .smile-left {
        gap: 20px;
    }
    .whywe-top > div {
        flex-direction: column;
    }
    .whywe-bottom {
        flex-direction: column;
    }
    .whywe-bottom-forVideo {
        min-height: 280px;
    }
    .whywe-reviews span {
        font-size: 15px;
    }
    .specialistsItem > div {
        width: 100%;
    }
    .specialistsItem > img {
        position: absolute;
        width: 140px;
        height: 140px;
        object-fit: cover;
        top: 0;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    .specialistsItem {
        position: relative;
        padding-top: 90px;
    }
    .swiper-container-specialists {
        padding-top: 70px;
    }
    .specialistsItem > div > div {
        justify-content: center;
        align-items: center;
    }
    .specialistsItem h3 {
        text-align: center;
    }
    .specialists button.signup {
        width: 100%;
        text-align: center;
    }
    .spcMoreMobile {
        margin-top: -10px;
        display: flex;
        justify-content: center;
    }
    .comment-top {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    .comment {
        max-height: 330px;
    }
    .comment > p {
        overflow-y: hidden;
        scroll-behavior: smooth;
    }
    .comment .comment-open {
        overflow: auto;
    }
    .patient .more {
        width: 100%;
    }
    .home-footer ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        row-gap: 15px;
    }
    .home-footer ul li {
        width: calc(50% - 10px);
    }
    .footer-info-block {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;    
    }
    .footer-info-item-call {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .footer-contact-top {
        flex-direction: column;
    }
    .footer-contact-top button {
        justify-content: center;
        text-align: center;
    }
    .footer-contact-top button {
        margin: unset;
        gap: 20px;
    }
    .footer-contact-socset {
        position: unset;
    }
    .footer-contact-bottom {
        padding-top: 20px;
        flex-direction: row;
        justify-content: center;
    }
    .footer-left > div {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .mobile-services-popup {
        padding: 30px 20px;
    } 
    .mobile-services-popup > ul {
        padding: 30px;
    }
    .mobile-services-popup li {
        font-size: 18px;
    }

}

@media screen and (max-width:415px) {
    .mobile-navigate-left {
        gap: 5px;
    }
    .mobile-navigate {
        width: calc(100% - 40px);
    }
}

/* responsive end */